<form [formGroup]="form" (submit)="onSubmit()">
  <div class="form-group">
    <label for="validationServer01">Email address</label>
    <input type="email"
           class="form-control"
           [class.is-valid]="form.get('email').valid&&form.get('email').dirty"
           [class.is-invalid] = "form.get('email').invalid&&(form.get('email').dirty||isSubmitted)"
           id="validationServer01"
           aria-describedby="emailHelp"
           placeholder="Enter email"
           formControlName="email">
    <div class="valid-feedback">
      нормално
    </div>
    <div class="invalid-feedback">
      {{form.get('email').getError('invalidEmail')}}
    </div>
  </div>
  <div class="form-group" formGroupName="passwords">
    <label for="exampleInputPassword1">Password</label>
    <input type="password"
           class="form-control"
           [class.is-valid]="form.get('passwords').get('password').valid&&form.get('passwords').get('password').dirty"
           [class.is-invalid] = "form.get('passwords').get('password').invalid&&(form.get('passwords').get('password').dirty||isSubmitted)"
           id="exampleInputPassword1"
           placeholder="Password"
           formControlName="password">
    <div class="valid-feedback">
      нормално
    </div>
    <div class="invalid-feedback">
      {{form.get('passwords').get('password').getError('invalidPassword')}}
    </div>
  </div>
  <div class="form-group" formGroupName="passwords">
    <label for="exampleInputPassword1">Repeat password</label>
    <input type="password"
           class="form-control"
           [class.is-valid]="form.get('passwords').valid&&form.get('passwords').get('password2').dirty"
           [class.is-invalid] = "form.get('passwords').invalid&&(form.get('passwords').get('password2').dirty||isSubmitted)"
           id="exampleInputPassword2"
           placeholder="Password"
           formControlName="password2">
    <div class="valid-feedback">
      нормално
    </div>
    <div class="invalid-feedback">
      {{form.get('passwords').getError('invalidPassword2')}}
    </div>
  </div>
  <div class="form-check">
    <input type="checkbox"
           class="form-check-input"
           [class.is-valid]="this.form.value.agree"
           [class.is-invalid] = "!this.form.value.agree&&(form.get('agree').dirty||isSubmitted)"
           id="exampleCheck1"
           formControlName="agree">
    <div class="valid-feedback">
      нормално
    </div>
    <div class="invalid-feedback">
      ненормално
    </div>
    <label class="form-check-label" for="exampleCheck1">I agree</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
